version: "3.8"

services:
  php:
    build: .                 # 从 Dockerfile 构建
    image: vchat-php
    container_name: vchat-php
    volumes:
      - /usr/local/nsx/www/wwwroot/vchat/:/var/www/html
    entrypoint: ["/bin/sh", "-c", "mkdir -p /var/www/html/logs && chown -R www-data:www-data /var/www/html && php-fpm"]
    environment:
      MYSQL_DB_HOST: ${MYSQL_DB_HOST}
      MYSQL_DB_USER: ${MYSQL_DB_USER}
      MYSQL_DB_PASS: ${MYSQL_DB_PASS}
      MYSQL_DB_NAME: ${MYSQL_DB_NAME}
      WEIXIN_APPID: ${WEIXIN_APPID}
      WEIXIN_SECRET: ${WEIXIN_SECRET}
      WEIXIN_ENCODING_AES_KEY: ${WEIXIN_ENCODING_AES_KEY}
      OPENWEATHER_APIKEY: ${OPENWEATHER_APIKEY}
      SPARK_APIKEY: ${SPARK_APIKEY}
      BAIDU_APIKEY: ${BAIDU_APIKEY}
      DOUBAO_APIKEY: ${DOUBAO_APIKEY}
      KIMI_APIKEY: ${KIMI_APIKEY}
      DEEPSEEK_APIKEY: ${DEEPSEEK_APIKEY}
      HUNYUAN_APIKEY: ${HUNYUAN_APIKEY}
      TONGYI_APIKEY: ${TONGYI_APIKEY}
      YUEWEN_APIKEY: ${YUEWEN_APIKEY}
      ZHIPU_APIKEY: ${ZHIPU_APIKEY}
      HAILUO_APIKEY: ${HAILUO_APIKEY}
      GROK_APIKEY: ${GROK_APIKEY}
      OPENAI_APIKEY: ${OPENAI_APIKEY}
    ports:
      - "9001:9000"
    networks:
      - vchat-network
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8.0
    container_name: vchat-db
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_DB_PASS}
      MYSQL_DATABASE: ${MYSQL_DB_NAME}
    ports:
      - "3307:3306"
    volumes:
      - /usr/local/nsx/www/wwwroot/mysql/:/var/lib/mysql
    networks:
      - vchat-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${MYSQL_DB_PASS}"]
      timeout: 20s
      retries: 10

networks:
  vchat-network:
    driver: bridge
